* {
 margin: 0px;
 font-weight: bold;
 font-family: Arial, sans-serif;
}

div {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

table {
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: auto;
 margin-right: auto;
}

ul {
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: auto;
 margin-right: auto;
 list-style-type: none;
}

.schema  {
 width: 98%;
 max-width: 100%;
}

#left_top, #left_bottom {
 width: 40%;
 text-align: right;
}

#right_top, #right_bottom  {
 width: 40%;
 text-align: left;
}

#middle_top,  #middle_bottom {
 width: 20%;
 text-align: center;
}
